<div class="page-body">
  <div class="row">

    <!-- order-card start -->
    <div class="col-md-6 col-xl-6">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20">Laboratorios enlazados</h6>
          <h2 class="text-right"><i class="ti-wallet f-left"></i><span>{{cliente?.laboratorios?.length}}</span></h2>
          <p class="m-b-0">Total pedidos en curso<span class="f-right">{{indicadores?.proceso[0]?.total}}		</span></p>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <app-card [cardOptionBlock]="true">
        <button type="button" class="btn btn-info" popoverTitle=" Crear una solicitud de ensayo" placement="bottom"
          (click)="openMyModal('effect-3')">
          <i class="fa fa-plus"></i> Asociar Un Laboratorio</button>
      </app-card>
    </div>
    <div class="col-sm-12">


      <app-card [title]="'Información de Laboratorios'" [cardOptionBlock]="true">
        <ngx-datatable class="data-table" [rows]="indclientes" [columns]="columns" [columnMode]="'force'" [headerHeight]="50"
          [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
          <ngx-datatable-column name="Nombre">
            <ng-template let-row="row" let-value="nombre" ngx-datatable-cell-template>
              <span>{{row['nombre']}}</span>

            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Pedidos en espera">
            <ng-template let-row="row" let-value="nombre" ngx-datatable-cell-template>
             
              <span *ngIf="row.indicadores.enespera.length>0" class="label ng-tns-c9-10 label-warning ng-star-inserted">{{row.indicadores?.enespera[0]?.count}} </span>
              <span *ngIf="row.indicadores.enespera.length>0" class="label ng-tns-c9-10 label-warning ng-star-inserted">${{row.indicadores?.enespera[0]?.total|number: '1.0-0'}}</span>

            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="En Proceso">
            <ng-template let-row="row" let-value="nombre" ngx-datatable-cell-template>

              <span *ngIf="row.indicadores.proceso.length>0" class="label ng-tns-c9-10 label-warning ng-star-inserted">{{row.indicadores?.proceso[0]?.count}} </span>
              <span *ngIf="row.indicadores.proceso.length>0" class="label ng-tns-c9-10 label-warning ng-star-inserted">${{row.indicadores?.proceso[0]?.total|number: '1.0-0'}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Falta de pago">
            <ng-template let-row="row" let-value="nombre" ngx-datatable-cell-template>
              
              <span *ngIf="row.indicadores.nopago.length>0" class="label ng-tns-c9-10 label-warning ng-star-inserted">{{row.indicadores?.nopago[0]?.count}} </span>
              <span *ngIf="row.indicadores.nopago.length>0" class="label ng-tns-c9-10 label-warning ng-star-inserted">${{row.indicadores?.nopago[0]?.total|number: '1.0-0'}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="">
            <ng-template let-row="row" let-value="nombre" ngx-datatable-cell-template>

              <div class="btn-group btn-group-sm" style="float: none;">

                <a type="button" class="tabledit-edit-button btn btn-primary waves-effect waves-light"
                routerLink="/config/laboratorio/detalle/{{row._id}}"><span class="icofont icofont-ui-edit"></span>
              </a>

              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </app-card>
    </div>
  </div>

</div>

<app-modal-animation [modalID]="'effect-3'" [modalClass]="'md-effect-3 md-large'">
  <h3>Asociar Un Laboratorio
  </h3>
  <div>


    <perfect-scrollbar class="overflow-container" [style.width]="'100%'" [style.height]="'70vh'">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-header-text">Cliente </h5><small>Campos
                requeridos *</small>

            </div>
            <div class="card-body">
              <form [formGroup]="form">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Nombre *</label>
                  <div class="col-sm-10">
                    <tag-input [ngClass]="'tag-select'"  theme='bootstrap' formControlName="emails" [placeholder]="'+'"
                    [(ngModel)]="item.emails" [addOnBlur]="true" [clearOnBlur]="true"  >
                      <tag-input-dropdown [autocompleteItems]="autocompleteItems" [appendToBody]="false"></tag-input-dropdown>
                    </tag-input>


                    <div
                      *ngIf="form.controls.emails.invalid && (form.controls.emails.dirty || form.controls.emails.touched)">
                      <div class="messages text-danger" *ngIf="form.controls.emails.errors?.required">
                        Campo Requerido
                      </div>
                    </div>


                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Mensaje</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" formControlName="descripcion" rows="5" cols="5"
                      placeholder="Descripción rapida" [(ngModel)]="item.descripcion"></textarea>
                  </div>
                </div>

              </form>
            </div>
            <!-- end of card-body -->
          </div>
        </div>
      </div>
    </perfect-scrollbar>
    <div class="card">
      <div class="card-body text-right">
        <div class="btn-group floar-rigth">

          <button (click)="guardar($event)" class="btn btn-primary md-" [disabled]="!form.valid"><i
              class="icofont icofont-save"></i>Envia invitación</button>
          <button (click)="closeMyModalbtn($event)" class="btn btn-danger "><i class="icofont icofont-ui-close"></i>
            Cerrar!</button>
        </div>
      </div>
    </div>


  </div>
  <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i
      class="icofont icofont-ui-close"></i></button>

</app-modal-animation>