<div class="card" *ngIf="item!=undefined">
  <div class="card-header">
    <h4 class="card-header-text">Configuración Incertidumbre </h4>

  </div>
  <div class="card-body">
    <form [formGroup]="form">
      <div class="form-group row" *ngIf="reload">
        <label class="col-sm-2 col-form-label">Formula cálculo coeficiente de sensibilidad</label>
        <div class="col-sm-4">
          <app-matheditor [formula]="formulaactual" [editable]="true" (changeFormula)="onChangeFormula($event)"
            [variables]="parametro?.variables" #mathEditor>
          </app-matheditor>
          <input type="hidden" formControlName="formula" [(ngModel)]="item.formula">
        </div>
        <div class="col-sm-4">
          <label class="col-form-label">Coeficiente de sensibilidad:</label>
          <strong>{{item.simbolo}}={{resultadoEvaluacion}} {{item.unidad}}</strong><br/>
          <label class="col-form-label">Incertidumbre:</label>
          <strong>{{item.simbolo}}={{item.incertidumbre}} {{item.unidad}}</strong>
        </div>
      </div>
      <div class="form-group row">

        <div class="col-sm-12">
          <div class="border-checkbox-section">
            <div class="border-checkbox-group border-checkbox-group-primary">
              <input class="border-checkbox" type="checkbox" id="checkbox_isequipo" [(ngModel)]="item.isequipo"
                name="checkbox_isequipo" [checked]="item.isequipo" formControlName="isequipo">
              <label class="border-checkbox-label" for="checkbox_isequipo">Se mide en un equipo?</label>
            </div>
          </div>
        </div>



        <ng-container *ngIf="item.isequipo">
          <label class="col-sm-2 col-form-label">Equipo:</label>
          <div class="col-sm-4">
            <ng-select [ngClass]="'ng-select'" name="agrupaciones" placeholder="Seleccione el equipo"
              [options]="equipos" [(ngModel)]="item.equipoId" formControlName="equipoId"
              (selected)="getEquipoById($event)">
            </ng-select>

            <div
              *ngIf="form.controls.equipoId.invalid && (form.controls.equipoId.dirty || form.controls.equipoId.touched)">
              <div class="messages text-danger" *ngIf="form.controls.equipoId.errors?.required">
                Campo Requerido
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <button (click)="equipoNuevo()" class="btn btn-primary md-"><i class="icofont icofont-ui-add"></i></button>
            <button *ngIf="item.equipoId" type="button" class="btn btn-warning waves-effect waves-light"
              (click)="equipoEdit()"><span class="icofont icofont-ui-edit"></span></button>
          </div>
        </ng-container>
        <ng-container *ngIf="equipoNuevoOpen">
          <div class="col-sm-12">
            <app-equipo-add (endAction)="guardarEquipo($event)" [equipoedit]="item.equipoId"></app-equipo-add>
          </div>
        </ng-container>


      </div>
      <div class="form-group row" *ngIf="item.equipoId ">
        <label class="col-sm-2 col-form-label">Variables Equipo:</label>
        <div class="col-sm-4">
          <ng-select [ngClass]="'ng-select'"  name="variableEquipo" placeholder="Seleccione la variable del equipo"
            [options]="opcionesVariables" [(ngModel)]="item.variableEquipoId"
            (selected)="onSelectVariableEquipo($event)" [allowClear]=true formControlName="variableEquipoId">
          </ng-select>

          <div
            *ngIf="form.controls.variableEquipoId.invalid && (form.controls.variableEquipoId.dirty || form.controls.variableEquipoId.touched)">
            <div class="messages text-danger" *ngIf="form.controls.variableEquipoId.errors?.required">
              Campo Requerido
            </div>
          </div>
        </div>

      </div>
      <div class="form-group row">
        <label class="col-sm-12 col-form-label">Lista de Elementos de Incertidumbre</label>
        <div class="col-sm-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Observaciones</th>
                <th>Valor</th>
                <th>Seleccionar</th>
                <th> <button (click)="agregarElementocAdicional()" class="btn btn-primary md-"><i
                      class="icofont icofont-ui-add"></i></button></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let elementoIncertidumbre of item.elementosIncertidumbre; index as i;">
                <td scope="row">{{i+1}}</td>
                <td>{{elementoIncertidumbre.nombre}}</td>
                <td>{{elementoIncertidumbre.tipo}}</td>
                <td>{{elementoIncertidumbre.observacion}}</td>
                <td>{{elementoIncertidumbre.valor}}</td>
                <td>
                  <div class="border-checkbox-section">
                    <div class="border-checkbox-group border-checkbox-group-primary">
                      <input class="border-checkbox" type="checkbox" id="checkbox_elemSel_{{i+1}}"
                        [(ngModel)]="elementoIncertidumbre.seleccionado" name="checkbox_elemSel_{{i+1}}"
                        [checked]="item.seleccionado" [ngModelOptions]="{standalone: true}" (change)="selectElemento($event)">
                      <label class="border-checkbox-label" for="checkbox_elemSel_{{i+1}}"></label>
                    </div>
                  </div>
                  
                </td>
                <td>
                  <ng-container *ngIf="elementoIncertidumbre.manual">
                  <button type="button" class="tabledit-delete-button btn btn-warning waves-effect waves-light"
                    (click)="ceditarElementocAdicional(i,elementoIncertidumbre)"><span
                      class="icofont icofont-ui-edit"></span></button>
                  <button type="button" class="tabledit-delete-button btn btn-danger waves-effect waves-light"
                    (click)="celiminarElementocAdicional(i)"><span
                      class="icofont icofont-ui-delete"></span></button>
                    </ng-container>
                </td>
              </tr>

            </tbody>

          </table>
        </div>
        <ng-container *ngIf="elememtoManual">
          <div class="col-sm-12">
            <app-incertidumbre-element-add  (endAction)="guardarElemento($event)" [elementoedit]="elementoIncertidumbreEdit" [variableprincipal]="item"></app-incertidumbre-element-add>
          </div>
        </ng-container>

      </div>
      <div class="col-sm-12   text-right">

        <button (click)="guardar()" class="btn btn-primary md-" ><i
            class="icofont icofont-save "></i>Guardar Configuración</button>
       
      </div>
    </form>
  </div>

</div>