

:host {
    display: block;
    height: inherit;
    position: relative;
  }
  
  p {
    font-family: Lato;
  }
  
  .wrapper {
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
  }
  
  .super-duper-keyboard {
    background: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .mq-math-mode {
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
    font-size: 200%;
    line-height: 1;
    display: -moz-inline-box;
    display: inline-block;
}