:host /deep/  .horizontal.large-filled-symbols ul.steps-indicator li.done:after {
    background-color: #ffffff !important;
    color: black;
    border: 2px solid #2ed8b6;
}
:host /deep/ .horizontal.large-filled-symbols ul.steps-indicator li.editing:after {
    background-color: #ffffff !important;
    color: black ;
    border: 2px solid red  !important;
}
:host /deep/  .horizontal.large-filled-symbols ul.steps-indicator li.current:after {
    background-color: #ffb64d!important;
    color: black;
}
:host /deep/  .horizontal ul.steps-indicator li.navigable {
    pointer-events: auto;
    /* color: red; */
    background-color: #f6f7fb;
    padding: 5px !important;
}
:host /deep/  .md-tabs .nav-item {
    width: calc(100% / 6);
    text-align: center;
}